  <body>
    <div class="page">
      <form class="form">
        <input type="text" placeholder="Введите название дела" class="form__input">
        <button type="submit" class="form__button">Добавить дело в список дел</button>
      </form>
      <ul>
        {{{body}}}
      </ul>
    </div>
  </body>
