<li class="todolist__element" id={{_id}}>
  <p class="todolist__element_field">{{name}}</p>
  <p class="todolist__element_field">{{flag}}</p>
  <p class="todolist__element_field">{{date}}</p>
  <button class="todolist__button" type="button">Удалить</button>
</li>